<!DOCTYPE html>
<html lang="zh-CN">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=3.0,user-scalable=yes">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>远大住工-登录</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="../css/ydui.css" />
		<link rel="stylesheet" href="../css/global.css" />
		<link rel="stylesheet" type="text/css" href="../css/iconfont/iconfont.css"/>
		<!-- 引入YDUI自适应解决方案类库 -->
		<script src="../js/ydui.flexible.js"></script>
		<style>
			.list-item{
				padding-bottom: 0 !important;
			}
		</style>
	</head>
	<body>
		<section class="g-flexview">
			<header class="m-navbar" style="background: #00437c;">
				<a href="javascript:void(0)" class="navbar-item" id="back-btn"><i class="back-ico"></i></a>
				<div class="navbar-center">
					<span class="navbar-title" style="color: white;">客户拜访</span>
				</div>
				<a href="addVisit.html" class="navbar-item" id="addVisit">
					<i>
						<img src="../image/icon/addproject.png" style="width: 0.3rem;height: 0.3rem;">
					</i>
				</a>
			</header>
			<!--<div class="g-scrollview">-->
				<!--<article class="m-list list-theme4">-->
					<!--<div id="root" class="g-scrollview"></div>-->
				<!--</article>-->
			<!--</div>-->
			<section class="g-scrollview" id="J_List">
				<div class="m-list list-theme4" id="visitList">
				</div>
			</section>


		<script src="../js/footer.js" type="text/javascript" charset="utf-8"></script>
		</section>
		<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
		<script src="../jquery-3.3.1/jquery-3.3.1.min.js"></script>
		<script src="../js/ydui.js"></script>
		<script src="../echart/axios.min.js"></script>
		<script src="../js/global.js"></script>
		<script src="../js/my/addvisit.js"></script>
		<script src="../js/template-native.js" type="text/javascript" charset="utf-8"></script>

		<script type="text/html" id="visitListTem">
			<% for(var i = 0; i < list.length; i++){ %>
			<a href="#" class="list-item">
				<div class="list-img"><img src="../image/icon/listNum-1.png"></div>
				<div class="list-mes">
					<h3 class="list-title" onclick=go('<%= list[i].id %>')><%= list[i].accountName %></h3>
					<div class="list-mes-item">
						<div>日期：<%= list[i].visitDate %></div>
						<div>所有人：<%= list[i].userName%></div>
					</div>
				</div>
			</a>
			<% } %>
		</script>


		<script>

            $(function() {
                $("#back-btn").on("click", Common.prototype.Back);
			}
			)
			//时间处理函数
            function dateFtt(fmt, date) { //author: meizz
                var o = {
                    "M+": date.getMonth() + 1, //月份
                    "d+": date.getDate(), //日
                    "h+": date.getHours(), //小时
                    "m+": date.getMinutes(), //分
                    "s+": date.getSeconds(), //秒
                    "q+": Math.floor((date.getMonth() + 3) / 3), //季度
                    "S": date.getMilliseconds() //毫秒
                };
                if (/(y+)/.test(fmt))
                    fmt = fmt.replace(RegExp.$1, (date.getFullYear() + "").substr(4 - RegExp.$1.length));
                for (var k in o)
                    if (new RegExp("(" + k + ")").test(fmt))
                        fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
                return fmt;
            }
            //创建时间格式化显示
            function crtTimeFtt(value, row, index) {
                var crtTime = new Date(value);
                return top.dateFtt("yyyy-MM-dd", crtTime);
            }

			//分页查询
            var page = 1,
                pageSize = 10;
            $('#J_List').infiniteScroll({
                binder: '#J_List',
                pageSize: pageSize,
                initLoad: true,
                loadingHtml: '<strong>加载中...</strong>',
                /* 当然也可以<img src="../img/loading.gif" /> */
                loadListFn: function() {
                    var def = $.Deferred();
                    /* 通过自定义的方法获取数据 */
                    axios({
                        url: "/api/visit/listPage",
                        method: "post",
                        data: "pageNum=" + page + "&pageSize=" + pageSize,
                    })
                        .then(res => {
                            let data = res.records;
                            //设置总数
                            $('#num').text(res.total);
                            if (data && data.length > 0) {
                                for (var i = 0; i < data.length; i++) {
                                    data[i].visitDate = crtTimeFtt(data[i].visitDate)
                                }
                                let html = '';
                                //模板装载html
                                html = template('visitListTem', {
                                    list: data
                                });
                                $("#visitList").append(html);
                                def.resolve(html);
                                ++page;
                                YDUI.dialog.loading.close();
                            }
                        })
                    return def.promise();
                }
            });

			//点击跳转详情
                function go(id) {
                    var twoUrl = encodeURI("particulars.html?visitId=" + id); //使用encodeURI编码
                    location.href = twoUrl;
                }


		</script>

<!--
		<section id="J_List">
			<div id="J_ListContent"></div>
		</section> -->
	<!--	<script>
	//下拉刷新
            $('#J_List').pullRefresh({
                initLoad: true,
                loadFunction: function () {
                    var def = $.Deferred();

                    $.ajax({
                        url: '/获取数据方法',
                        dataType: 'json',
                        success: function (ret) {
                            /* 假设ret.list为后端返回的列表数组 */

                            $('#J_ListContent').prepend(ret.list + '将数据拼接成html');

                            var tipStr = ret.length > 0 ? '为您更新了' + ret.length + '条内容' : '已是最新内容';

                            YDUI.dialog.toast(tipStr, 'none', 1500);

                            /* 处理完后调用resolve()方法 */
                            def.resolve();
                        }
                    });

                    return def.promise();
                }
            });
		</script>-->
	</body>

</html>
