<!DOCTYPE html>
<html lang="zh-CN" class="main">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=3.0,user-scalable=yes">
		<!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
		<title>远大住工-我的审批</title>
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<!-- 引入YDUI样式 -->
		<link rel="stylesheet" href="../css/ydui.css" />
		<link rel="stylesheet" href="../css/global.css" />
		<!-- 引入YDUI自适应解决方案类库 -->
		<script src="../js/ydui.flexible.js"></script>
		<style>
			.cell-left{
				width: 1.5rem;
			}
			.cell-right{
				justify-content: flex-start;
			}
            .btn-block{
                display: inline;
            }
            .m-button {
                text-align: center;
            }
		</style>
	</head>

	<body>
		<header class="header">
			<a href="javascript:void(0)" class="navbar-item" id="back-btn"><i class="back-ico"></i></a>
			<div class="navbar-center">
				<span class="navbar-title">我的审批</span>
			</div>
		</header>

		<div class="mainer">
			<div class="wrap">
				<div class="index_nav">
					<div class="box" style="padding-top: 0.2rem;">
						<div class="m-cell" id="showPro">
						</div>
						<div class="m-button">
							<button type="button" class="btn-block btn-primary">批准</button>
							<button type="submit" class="btn-block btn-danger">拒绝</button>
                            <div style="display: inline;text-align: center">
                                <button style="width: 49%" type="button" id="changeUser" class="btn-block btn-warning">选择转办人员</button>
                                <button style="width: 49%" type="button" id="confirm" class="btn-block btn-warning">确认转办</button>
                            </div>
						</div>
                        <!--confirm-->
					</div>
				</div>
				<div class="index_box">
				</div>
			</div>
		</div>


		<!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
		<script src="../jquery-3.3.1/jquery-3.3.1.min.js"></script>
		<script src="../js/ydui.js" type="text/javascript" charset="utf-8"></script>
		<script src="../echart/axios.min.js"></script>
		<script src="../js/global.js"></script>
        <script src="../js/template-native.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/my/myApproval.js"></script>
	</body>

    <script type="text/html" id="attachmentsTem">
		<div class="cell-item">
			<div class="cell-left">附件列表：</div>
		</div>
		<% for(var i = 0; i < list.length; i++){ %>
		<div class="cell-right">
			<a href="<%= list[i].url %>" download="<%= list[i].name %>"><%= list[i].name %></a>
		</div>
		<% } %>
    </script>
</html>
